[class*="ghost"] {
    height: 200px;
    margin: 25px;
    position: relative;
    width: 200px;
}

.head {
    background: red;
    border-radius: 100px 100px 0 0 ;
    height: 100px;
    position: relative;
    width: 152px;
}

.eye, .eyeBack {
    position: relative;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.eyeBack {
    background: #FFF;
    height: 50px;
    width: 50px;
}

.eyeBack:first-child {
    float: left;
     margin: 50px 0 0 25px;
}
    
.eyeBack:last-child {
    float: right;
    margin: 50px 25px 0 0;
}

.eye {
    background: #0d2bd7;
    height: 25px;
    margin:10%;
    width: 25px;
}

.legs {
    border-right: 38px solid red;
    border-left: 38px solid red;
    border-bottom: 40px solid transparent;
    display: block;
    float: left;
    height: 40px;
    width: 0;
}