* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#botao {
    margin-top: 40px;
    margin-left: 40px;
    padding: 20px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    background-color: aqua;
    border-radius: 150px;
}

#botao:hover {
    background-color: black;
    color: white;
    transform: translate(50px);
    transition: 1s;
}